body{
  padding: 25px;
  background-color: beige;
}
.title {
  font-family: "Lora", serif;
	color: pink;
	text-align: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 502px;
}
.paragraph {
  font-family: "Lora", serif;
  text-align: center;
  color: brown;
  font-size: 20px;
}